<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/9c2332f744.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>nav}}
      <div class="flex items-center justify-center flex-col">
        <img src="images/error.png" alt="" class="w-96 mt-10">
        <a href="/" class="mt-5 bg-indigo-500 text-white w-20 h-8 rounded-md text-lg flex items-center justify-center">Home</a>
      </div>
    {{>footer}}
</body>
</html>